/*  Universal  */


* {
    box-sizing: border-box;
    margin: 0; 
    border: 0;
}

a {
    text-decoration: inherit;
}

ul {
    list-style-type: none;
}

body {
    width: 100%;
    margin: 0 auto;
    font-family: Karla;
    text-transform: uppercase;
    background-color: #F7F7F7;
}

.container {
    max-width: 100vw;
    padding: 30px 0 20px;
    background: black;
}

/*  Header Section  */

header {
    max-width: 1180px;
    margin: 0 auto;
    background: black;
}



.header-top-row {
    margin-bottom:60px;
}

.header-title {
    display: inline-block;
    color: white;
}

.icon-set {
    display: inline-flex;
    float: right;
    color: white;
}

.header-menu {
    display: inline-flex;
    padding-left: 0;
}

.header-menu li {
    margin: 0 20px;
}

.header-menu a {
    color: #C1C1C1;
    font-weight: 700;
}

#first-menu-item {
    margin-left: 0;
}



/*  Banner Section  */

.main-container {
    background-size: cover;
    background-position: center;
    height: 745px;
    background-image: url('./resources/pictures/banner-mountains.jpg');
}

main {
    max-width: 1180px;
    margin: 0 auto;
}

.banner-title-box {
    padding-top: 350px;
}

.banner-title-box h1 {
    display: inline-block;
    font-family: "Unica One";
    font-weight: 400;
    font-size: 60px;
    letter-spacing: 0.1em;
    color: white;
    background-color: #006EFF;

}

.banner-title-box ul {
    display: inline-flex;
    padding: 0;
}

.banner-title-box li {
    margin: 20px 1px;
    padding: 12px;
    color: white;
    background-color: #171717;
}

.banner-container {
    display: flex;
    justify-content: center;
}

.banner-box {
    display: flex;
    justify-content: center;
    height: 500px;
    width: 391px;
    background: white;
    border: 1px solid #F7F7F7;
}

.banner-box h3 {
    font-family: "Unica One";
    font-size: 2rem;
    font-weight: 470;
}

.sales-title-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.sales-title-section a {
    margin-top: 8px;
}

/*  Sales Items  */

.sales-items-outer-box,
.sales-items-outer-box-ii {
    max-width: 1170px;
    max-height: 535px;
    margin: 320px auto 0 auto;
}

.sales-items-container,
.sales-items-container-ii {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 400px);
    grid-gap: 1px; 
}

.sales-individual-box,
.sales-individual-box-ii {
    background: white;
    position: relative;
}

.sales-items-img,
.sales-items-img-ii {
    display: flex;
    justify-content: center;
}

.sales-items-img img,
.sales-items-img-ii img {
    width: 80%;
    margin-top: 25px;
}

.hover-image,
.hover-image-ii {
    display: none;
}

.sales-items-text,
.sales-items-text-ii {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    position: absolute;
    bottom: -330px;
    left: 25%;
}

.sales-item-name,
.sales-item-name-ii {
    font-weight: bold;
}

.sales-item-price,
.sales-item-price-ii {
    font-weight: 400;
    color: #646464;
}

.sales-box1,
.sales-box1-ii {
    grid-area: 1/1/2/2;
}

.sales-first-box-text,
.sales-first-box-text-ii {
    height: 100%;
    padding-top: 275px;
    background-image: url("./resources/pictures/sales-items-header1.jpg");
    background-size: cover;
    background-position: center;
}

.sales-box1 h2,
.sales-box1-ii h2 {
    font-family: "Unica One";
    font-size: 2rem;
    font-weight: 300;
    color: white;
    background: #006EFF;
    padding: 4px 12px;
    margin-bottom: 12px;
}

.sales-box1 span,
.sales-box1-ii span {
    color: white;
    padding-left: 12px;
}

.sales-box2,
.sales-box2-ii {
    grid-area: 1/2/2/3;
}

.sales-box3,
.sales-box3-ii {
    grid-area: 1/3/2/4;
}

.sales-box4,
.sales-box4-ii {
    grid-area: 1/4/2/5;
}

.sales-box5,
.sales-box5-ii {
    grid-area: 1/5/2/6;
}

.sales-box6,
.sales-box6-ii {
    grid-area: 2/1/3/2;
}

.sales-box7,
.sales-box7-ii {
    grid-area: 2/2/3/3;
}

.sales-box8,
.sales-box8-ii {
    grid-area: 2/3/3/4;
}

.sales-box9,
.sales-box9-ii {
    grid-area: 2/4/3/5;
}

.sales-box10,
.sales-box10-ii {
    grid-area: 2/5/3/6;
}

/*  Second Sales Items Section  */


/*  Footer Section  */





