/*  Universal  */


* {
    box-sizing: border-box;
    margin: 0; 
    border: 0;
}

a {
    text-decoration: inherit;
}

ul {
    list-style-type: none;
}

body {
    width: 100%;
    margin: 0 auto;
    font-family: Karla;
    text-transform: uppercase;
    background-color: #F7F7F7;
}

.container {
    max-width: 100vw;
    padding: 30px 0 20px;
    background: black;
}

/*  Header Section  */

header {
    max-width: 1180px;
    margin: 0 auto;
    background: black;
}



.header-top-row {
    margin-bottom:60px;
}

.header-title {
    display: inline-block;
    color: white;
}

.icon-set {
    display: inline-flex;
    float: right;
    color: white;
}

.header-menu {
    display: inline-flex;
    padding-left: 0;
}

.header-menu li {
    margin: 0 20px;
}

.header-menu a {
    color: #C1C1C1;
    font-weight: 700;
}

#first-menu-item {
    margin-left: 0;
}



/*  Banner Section  */

.main-container {
    background-size: cover;
    background-position: center;
    height: 745px;
    background-image: url('./resources/pictures/banner-mountains.jpg');
}

main {
    max-width: 1180px;
    margin: 0 auto;
}

.banner-title-box {
    padding-top: 350px;
}

.banner-title-box h1 {
    display: inline-block;
    font-family: "Unica One";
    font-weight: 400;
    font-size: 60px;
    letter-spacing: 0.1em;
    color: white;
    background-color: #006EFF;

}

.banner-title-box ul {
    display: inline-flex;
    padding: 0;
}

.banner-title-box li {
    margin: 20px 1px;
    padding: 12px;
    color: white;
    background-color: #171717;
}

.banner-container {
    display: flex;
    justify-content: center;
}

.banner-box {
    display: flex;
    justify-content: center;
    height: 500px;
    width: 391px;
    background: white;
    border: 1px solid #F7F7F7;
}

.banner-box h3 {
    font-family: "Unica One";
    font-size: 2rem;
    font-weight: 470;
}

.sales-title-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.sales-title-section a {
    margin-top: 8px;
}

/*  Sales Items  */

.sales-items-outer-box {
    max-width: 1180px;
    margin: 320px auto;
}

.sales-items-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 400px);
    grid-gap: 1px; 
}

.sales-individual-box {
    background: lightskyblue;
}

.sales-items-img {
    display: flex;
    justify-content: center;
}

.sales-items-img img {
    width: 80%;
    margin-top: 25px;
}

.hover-image {
    display: none;
}

.sales-items-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sales-items-text p {
    font-weight: bold;
}

.sales-box1 {
    grid-area: 1/1/2/2;
}

.sales-box1 h2 {
    font-family: "Unica One";
    font-size: 2rem;
    font-weight: 300;
    color: white;
    background: #006EFF;
    padding: 4px 12px;
}

.sales-box1 span {
    padding-left: 12px;
}

.sales-box2 {
    grid-area: 1/2/2/3;
}

.sales-box3 {
    grid-area: 1/3/2/4;
}

.sales-box4 {
    grid-area: 1/4/2/5;
}

.sales-box5 {
    grid-area: 1/5/2/6;
}

.sales-box6 {
    grid-area: 2/1/3/2;
}

.sales-box7 {
    grid-area: 2/2/3/3;
}

.sales-box8 {
    grid-area: 2/3/3/4;
}

.sales-box9 {
    grid-area: 2/4/3/5;
}

.sales-box10 {
    grid-area: 2/5/3/6;
}


/*  Footer Section  */





