/*  Universal  */

* {
    box-sizing: border-box;
    margin: 0; 
    border: 0;
}

a {
    text-decoration: inherit;
}

ul {
    list-style-type: none;
}

body {
    width: 100%;
    margin: 0 auto;
    font-family: Karla,sans-serif;
    text-transform: uppercase;
    background-color: #F7F7F7;
}

/*  Header Section  */

header {
    position: fixed;
    z-index: 100;
    top: 0; 
    left: 0;
    width: 100vw;
    padding: 0;
    background: black;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    background: black;
}

.header-top-row {
    margin-bottom:60px;
}

.header-title {
    display: inline-block;
    color: white;
}

.header-title-link {
    height: 100%; 
    width: 100%;
}

.icon-set {
    display: inline-flex;
    float: right;
    color: white;
}

.search-bar img {
    height: 20px;
    margin-right: 12px;
}

.checkout img {
    height: 20px;
}

.header-menu {
    display: inline-flex;
    padding-left: 0;
    font-family: "Unica One";
    margin-bottom: 20px;
}

.header-menu a:hover {
    color: white;
}

.header-menu li {
    margin: 0 20px;
}

.header-menu a {
    color: #C1C1C1;
    font-weight: 700;
}

#first-menu-item {
    margin-left: 0;
}

.header-hamburger-icon {
    display: none;
    color: #848484;
    margin-bottom: 20px;
}

.header-hamburger-icon:hover {
    color: white;
}

.mobile-header {
    display: none;
}


@media only screen and (max-width: 1170px) {
    .header-top-row {
        margin: 0 2vw 60px;  
    }

    .header-menu {
        margin: 0 2vw;
    }

    .header-hamburger-icon {
        margin-left: 2vw;
    }
}

@media only screen and (max-width: 1025px) {
    .header-menu {
        display: none;
    }

    .header-top-row {
        height: 59px;
        margin-bottom: 40px;
    }

    .header-title {
        font-size: 30px;
        font-weight: 700;
    }

    .header-hamburger-icon {
        display: block;
    }
}

@media only screen and (max-width: 750px) {
    .header-top-row,
    .header-menu,
    .header-hamburger-icon {
        display: none;
    }

    header {
        padding: 0 3vw;
    }

    .mobile-header {
        display: inline-flex;
        width: 100%;
        height: 60px;
        justify-content: space-between;
        align-items: center;
        color: white;
    }
}

/*  Body Section  */

.body-outer-container {
    background-color: #F7F7F7;
    margin: 138px 0;
}

.body-inner-container {
    max-width: 1170px;
    margin: 0 auto;
}

.body-title-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 138px;
    width: 100%;
}

.body-title {
    font-size: 2rem;
    margin: 0 3vw;
}

.demo-title {
    position: absolute;
    top: 60px;
    right: 0;
    color: red;
    margin-right: 3vw;
}

.body-items-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 350px);
    grid-gap: 1px;
    width: 100%;
}



/*  Sales Items  */

.sales-items-outer-box {
    max-width: 1170px;
    height: 100%;
}

.sales-items-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 350px);
    grid-gap: 1px; 
    margin: 0 auto;
    width: 100%;
}

.sales-individual-box {
    background: white;
    justify-content: space-around;
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: all 0.2s ease-in-out;
}

.sales-individual-box:hover {
    background-color: #d6d4d4;
}

.sales-items-img {
    display: flex;
    justify-content: center;
    max-width: 90%;
    height: 235px;
    margin: 10px auto;
}

.sales-items-img img {
    width: 87%;
    max-height: 100%;
    margin-top: 25px;
}

.sales-inner-container {
    position: relative;
}

.hover-image {
    opacity: 0;
    position: absolute;
    text-align: center;
    line-height: 3;
    color: white;
    height: 50px;
    width: 120px;
    background: #006EFF;
    left: 50%;
    top: 43%;
    margin-left: -60px;
    transition: all 0.2s ease-in;
}

.sales-inner-container:hover > .hover-image  {
    opacity: 100;
    top: 38%;
}

.sales-items-text {
    display: flex;
    flex-direction: column;
    height: 120px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.sales-item-name {
    font-weight: bold;
}

.sales-item-price {
    font-weight: 400;
    color: #646464;
}

.sales-box1 {
    grid-area: 1/1/2/2;
}

.sales-box2 {
    grid-area: 1/2/2/3;
}

.sales-box3 {
    grid-area: 1/3/2/4;
}

.sales-box4 {
    grid-area: 1/4/2/5;
}

.sales-box5 {
    grid-area: 1/5/2/6;
}

.sales-box6 {
    grid-area: 2/1/3/2;
}

.sales-box7 {
    grid-area: 2/2/3/3;
}

.sales-box8 {
    grid-area: 2/3/3/4;
}

.sales-box9 {
    grid-area: 2/4/3/5;
}

.sales-box10 {
    grid-area: 2/5/3/6;
}

@media only screen and (max-width: 750px) {
    .desktop {
        display: none;
    }

    .sales-items-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 350px);
        grid-gap: 1px;
    }

    .sales-items-img img {
        width: 180px;
    }

    .sales-items-text {
        margin-top: 17px;
    }

    .sales-box1 {
        grid-area: 1/1/2/2;
    }

    .sales-box2 {
        grid-area: 1/2/2/3;
    }

    .sales-box3 {
        grid-area: 2/1/3/2;
    }
    
    .sales-box4  {
        grid-area: 2/2/3/3;
    }

    .sales-box5 {
        grid-area: 3/1/4/2;
    }

    .sales-box6 {
        grid-area: 3/2/4/3;
    }

    .sales-box7 {
        grid-area: 4/1/5/2;
    }
    
    .sales-box8  {
        grid-area: 4/2/5/3;
    }
}

@media only screen and (max-width: 416px) {

    .body-outer-container {
        margin-top: 60px;
    }

    .body-title{
        margin: 38px auto 0;
    }

    .demo-title {
        top: 0;
        left: 0;
        color: red;
        margin-right: 3vw;
    }

    .narrow-hide {
        display: none;
    }

    .sales-items-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 350px);
        grid-gap: 1px;
    }

    .sales-box1 {
        grid-area: 1/1/2/3;
    }

    .sales-box2 {
        grid-area: 2/1/3/3;
    }

    .sales-box3 {
        grid-area: 3/1/4/3;
    }
    
    .sales-box4  {
        grid-area: 4/1/5/3;
    }

    .sales-box5 {
        grid-area: 5/1/6/3;
    }

    .sales-box6 {
        grid-area: 6/1/7/3;
    }
}


/*  Footer Section  */

footer {
    width: 100vw;
    background: black;
    padding: 0 2vw 0 2vw;
}

.footer-container {
    margin: 30px auto 0;
    max-width: 1170px;
    height: 275px;
    background: black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.contact {
    display: flex;
    flex-direction: column;
    height: 240px;
    grid-column: 1/2;
    background-color: black;
}

.footer-box {
    color: #848484;
}

.footer-title {
    margin: 50px 0 24px;
    font-family: "Unica One";
    letter-spacing: 1.6px;
    font-size: 24px;
    font-weight: 300;
    color: white;
}

.footer-phone {
    margin: 16px 0;
}

.support {
    grid-column: 2/3;
    height: 240px;
    background: black;
}

.support-terms:hover,
.support-privacy:hover,
.support-return:hover {
    color: white;
}

.support-privacy {
    margin: 16px 0;
}

.about {
    grid-column: 3/4;
    height: 240px;
    background: black;
}

.about-news:hover,
.about-contact:hover,
.about-theme:hover {
    color: white;
}

.about-contact {
    margin: 16px 0;
}

.in-the-know {
    grid-column: 4/5;
    height: 240px;
    background: black;
}

.footer-promotions {
    margin: 16px 0;
}

.email-form {
    display: inline-flex;
    padding: 19px 0 16px 12px;
    width: 70%;
    font-size: 16px;
    color: #959595;
    background: #1A1A1A;
}

button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #0058CC;
    color: white;
    height: 54px;
    width: 54px;
    font-size: 20px;
}

@media only screen and (max-width: 895px) {
    .email-form {
        width: 62%;
    }
}

@media only screen and (max-width: 750px) {

    .footer-container {
        display: flex;
        flex-direction: column;
        grid-gap: 0;
        line-height: 1rem;
    }

    footer {
        height: 790px;
    }

    .footer-individual-box {
        padding-left: 2vw;
        padding-bottom: 20px;
    }

    .email-form {
        width: 85%;
    }
}

@media only screen and (max-width: 416px) {
    .email-form {
        width: 70%;
    }
}