/*  Universal  */

* {
    box-sizing: border-box;
    margin: 0; 
    border: 0;
}

a {
    text-decoration: inherit;
}

ul {
    list-style-type: none;
}

body {
    width: 100%;
    margin: 0 auto;
    font-family: Karla,sans-serif;
    text-transform: uppercase;
    background-color: #F7F7F7;
}

/*  Header Section  */

header {
    position: fixed;
    z-index: 100;
    top: 0; 
    left: 0;
    width: 100vw;
    padding: 0;
    background: black;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    background: black;
}

.header-top-row {
    margin-bottom:60px;
}

.header-title {
    display: inline-block;
    color: white;
}

.header-title-link {
    height: 100%; 
    width: 100%;
}

.icon-set {
    display: inline-flex;
    float: right;
    color: white;
}

.search-bar img {
    height: 20px;
    margin-right: 12px;
}

.checkout img {
    height: 20px;
}

.header-menu {
    display: inline-flex;
    padding-left: 0;
    font-family: "Unica One";
    margin-bottom: 20px;
}

.header-menu a:hover {
    color: white;
}

.header-menu li {
    margin: 0 20px;
}

.header-menu a {
    color: #C1C1C1;
    font-weight: 700;
}

#first-menu-item {
    margin-left: 0;
}

.header-hamburger-icon {
    display: none;
    color: #848484;
}

.header-hamburger-icon:hover {
    color: white;
}

.mobile-header {
    display: none;
}

/*  Body Section  */

.body-outer-container {
    background-color: #FFFFFF;
    margin-top: 138px;
}

.body-inner-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1170px;
}

.item-image-display {
    display: flex;
    justify-content: center;
    width: 50%;
}

.item-image-display img {
    width: 60%;
    max-height: auto;
}

.item-information-container {
    width: 50%;
}

.info-title {
    font-family: "Unica One", sans-serif;
    font-size: 2.25em;
    letter-spacing: 0.1em;
    margin-bottom: 0.7px;
}

.item-price {
    color: #777777;
    font-size: 20px;
}

.item-info-divider {
    border: 1px solid #F7F7F7;
}

.divider1 {
    margin: 18px 0;
}

.button {
    border-radius: 3px;
    height: 45px;
    width: 80%;
    font-size: 14px;
    font-weight: bold;
}

.button-1 {
    border: 1px solid #006EFF;
    color: #006EFF;
    background-color: white;
}

.button-2 {
    margin-top: 14px;
    color: white;
    background-color: #006EFF;
}

.item-information-container ul {
    background-color: lightcoral;
}

.item-information-container li {
    list-style-type: disc;
}